# ========================================================================
# 时间配置取值范围：
#       Minute  : 0-59
#       Hour    : 0-23
#       Day     : 1-31
#       Month   : 1-12
#       Week    : 1-7
#
# 特殊字符：
#   星号(*) : 表示所有可能的值
#   逗号(,) : 多个值可以用逗号分隔，但是逗号两边不能有空格
#
# 注意：
#   时间配置中不允许存在前导零
# ========================================================================

# Minute Hour Day Month Week Module Options
1 2 3 4 5 test -d $(date +%Y%m%d) -c 1 -s 1
